[submodule "PhysX"]
	path = external/PhysX
	url = https://github.com/NVIDIA-Omniverse/PhysX
  branch = main
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/LuizPedroSousa/imgui
	branch = docking
[submodule "external/PhysX"]
	path = external/PhysX
	url = https://github.com/NVIDIA-Omniverse/PhysX
	branch = main
